@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    /* Farben */
    --hue-color: 242;

    /* HSL-Farbmodus */
    --skin-color: hsla(212, 92%, 46%, 0.875);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 85%);
    --body-color: hsl(var(--hue-color), 19%, 5%);
    --box-color: hsl(var(--hue-color), 14%, 10%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);

    /* Schriftart und Typografie */
    --body-font: 'Poppins', sans-serif;

    /* Schriftgrößen */
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /* Schriftgewicht */
    --font-medium: 500;
    --font-bold: 600;

    /* Margin Bottoms */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* Z-Index */
    --z-fixed: 10;
    --z-modal: 100;
}

body {
    overflow: scroll;
    opacity: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
}

.container {
    max-width: 90em; /* Ändern Sie die maximale Breite nach Bedarf */
}

/* Globale Stile */
::selection {
    background: var(--main-dark);
    color: var(--main-light);
    text-shadow: none;
}

img::selection,
svg::selection {
    background: transparent;
}

a {
    color: inherit;
    text-decoration: inherit;
}

main:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}





.no-click {
    pointer-events: none;
}

.can-click {
    pointer-events: auto;
}
ul {
    display: flex;
    padding-left: 0px;
   
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
  ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  ul li a:hover:before {
    top: 0;
  }
  
  ul li:nth-child(1) a:before{
    background: #0077b5;
  }
  
  ul li:nth-child(2) a:before{
    background: #171515;
  }
  
  ul li:nth-child(3) a:before {
    background: #3f729b ;
  }

.container-skillbar {
  width: 100%;
  padding-top: 30px;
  padding-right: 2%;
  padding-left: 2%;
  height: auto;
  overflow: none;
}
.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #efefef;
  height: 30px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.15);
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 30px;
  width: 0px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.5);
}

  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
  .timeline-flex.hidden {
    display: none;
}
.skills.hidden {
    display: none;
}

.timeline-flex {
    display: flex;
    justify-content: center;
}

/* Fügen Sie hier die CSS-Regeln für Ihren Zeitstrahl ein */

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

  .timeline-design {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    --accent-color: #41516C; /* Beispielwert, ändern Sie ihn entsprechend Ihrer Anforderungen */
    --bgColor: #ffffff; /* Beispielwert, ändern Sie ihn entsprechend Ihrer Anforderungen */
    --color: #000000; /* Beispielwert, ändern Sie ihn entsprechend Ihrer Anforderungen */
  
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
  }
  
  /* line */
  .timeline-design::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
  }
  
  /* columns*/
  /* row gaps */
  .timeline-design li:not(:last-child) {
    margin-bottom: var(--row-gap);
  }
  
  /* card */
  .timeline-design li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
  }
  
  /* date */
  .timeline-design li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);
    text-align: center;
    background-color: var(--accent-color);
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    display: grid;
    place-content: center;
    position: relative;
    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
  }
  
  /* date flap */
  .timeline-design li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
  }
  
  /* circle */
  .timeline-design li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgColor);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  
  /* title descr */
  .timeline-design li .title,
  .timeline-design li .descr {
    background: #f3f3f3;
    position: relative;
    padding-inline: 1.5rem;
  }
  
  .timeline-design li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;
  }
  
  .timeline-design li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
  }
  
  /* shadows */
  .timeline-design li .title::before,
  .timeline-design li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
  }
  
  .timeline-design li .title::before {
    bottom: calc(100% + 0.125rem);
  }
  
  .timeline-design li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
  }
  
  @media (min-width: 40rem) {
    .timeline-design {
      grid-template-columns: 1fr var(--line-w) 1fr;
    }
    .timeline-design::before {
      grid-column: 2;
    }
    .timeline-design li:nth-child(odd) {
      grid-column: 1;
    }
    .timeline-design li:nth-child(even) {
      grid-column: 3;
    }
  
    /* start second card */
    .timeline-design li:nth-child(2) {
      grid-row: 2/4;
    }
  
    .timeline-design li:nth-child(odd) .date::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      left: 0;
    }
  
    .timeline-design li:nth-child(odd) .date::after {
      transform: translate(-50%, -50%);
      left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }
    .timeline-design li:nth-child(odd) .date {
      border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }
  }
  
  .credits {
    margin-top: 1rem;
    text-align: right;
  }
  
  .credits a {
    color: var(--color);
  }
  
@media screen and (min-width: 1920px) {
    body {
        font-size: 1.3333333333333333rem;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 0.5333333333333333rem;
    }

    header {
        font-size: 0.888888888888889rem;
    }
}
@media screen and (max-width: 767px){
    .hero-heading {
        font-size: 6.375em;
        
    }
    ul li a {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 25px;
      }
}




